@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto:wght@100&display=swap');

.form_container {
    display: flex;
    font-family: 'Lato', sans-serif;
    width: 100vw;
    height: 100vh;
}

.layout{
    z-index: 1;
}
.main_heading{
    font-weight: 1000;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 20px;
    font-family: 'Roboto';
}
.date{
    height: max-content;
    margin-top: 20px;
    right: 20px;    
    position: absolute;
    font-family: sans-serif;
    text-align: center;
    
}





